* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color:black;
}

body{
    width: 100%;
    height: 100vh;
    background: #F7F3F0;
    color: #2A2724;
}


/* introduction */
.introduction{
    padding-top: 17.5%;
    width: 100%;
}
.intrduction-wrap{
    width: 77%;
    margin: 0 auto;
    display: flex;
}
.introduction-textBox{
    width: 50%;
    padding-left: 80px;
}
h1{
    font-size: 5rem; 
    padding-bottom:3vw;
}
h3{
    font-weight: 100; 
    font-size: 1.9rem;
}
.introduction-img{width: 50%;}
.introduction-img img{width: 100%;}

h3:nth-child(2){
    padding-bottom: 3vw; 
}


/* width:768px */
@media (max-width:768px){
    .introduction{padding-top: 40px;}
    .intrduction-wrap{
        display: inline;
    }
    .introduction-img img {
        display: none;
    }
    .introduction-textBox{
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
}



/* width:375px */
@media (max-width:375px){
    h1{font-size: 2rem;}
    h2{font-size: 1rem;}
    h3{font-size: 0.7rem;}
    .introduction{padding-bottom:80px;}
    .intrduction-wrap{display: inline;}
    .introduction-textBox {
        margin: 0 auto;
        width: 90%;
    }
    .introduction-img{
        margin: 0 auto; 
        width: 90%;
    }
}